/*
Theme Name:     QAEngine Child Theme
Theme URI:      http://www.enginetheme.com/themes/qaengine
Description:    Child theme for QAEngine theme
Author:         EngineThemes
Author URI:     http://www.enginetheme.com/
Template:       qaengine
Version:        1.0
*/